.tab {
  display: flex;
  flex-wrap: nowrap;
  &-item {
    font-weight: 500;
    font-size: .75em;
    height: 1.25em;
    line-height: 1;
    padding: 1em 0;
    margin-right: 2em;
    &--active {
      border-bottom: 1px solid rgba(246, 82, 97, 1);
    }
    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }
}