.popup, .popup__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.popup {
  color: #fff;
  font-size: 1em;
  --margin-width: 14px;
  &__content {
    margin-top: var(--margin-width);
  }
  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    height: 1.5em;
    line-height: 1;
    letter-spacing: 1px;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    &__button {
      padding: 0 2px;
    }
  }
}